{#
/**
 * Layout provider: page-layout
 * Template suggestion: page__front
 * Theme: test_adapt
 * Generated on: Thu, 17 Jan 19 17:55:20 +1100
 */
#}
{{ attach_library('test_adapt/test_adapt.layout.page__front') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
